.navbar {
    position: fixed;
    top: 0;
    display:flex;
    padding: 20px;
    justify-content: space-between;
    height: 30px;
    width: 100vw;
    z-index: 1;
/* animation*/
transition-timing-function: ease-in;
transition: all 0.6s;

}

.logo{
    position: fixed;
    left: 10px;
    width: 95px;
    object-fit: contain;
    margin-top: -35px;
}

.account {
   position: fixed;
   right: 10px;
    width: 33px;
    object-fit: contain;
    margin-top: -3px;
}


.nav_black{
    background-color: #111;

}

.logoutt{
    margin-left: 105px;
    margin-top: -7px;
}

